@model TSPDevTools.Model.Skill

@{
    ViewBag.Title = "Details";
}
<style>
    tr {
        border-width: 0px;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    td {
        border-width: 0px;
        margin: 0px;
        padding: 5px 10px 10px 0px;
        text-align: left;
    }

    td:first-child {
            font-size: 11pt;
            font-weight: bold;
    }
</style>

<div class="form-horizontal">
    <h2>Details</h2>

    <h4>Skill</h4>
    
    <hr />

    <table class="dl-horizontal">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>

            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
    </table>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>