@model IEnumerable<TSPDevTools.Model.EmpSubsidary>

@{
    ViewBag.Title = "User Subsidaries";
}

<style>
    span {
        color: black;
    }

    .tag {
        font-size: 14px;
        padding: .3em .4em .4em;
        margin: 0 .1em;
    }

        .tag a {
            color: #bbb;
            cursor: pointer;
            opacity: 0.6;
        }

         .tag a:hover {
             opacity: 1.5;
             text-decoration: none;
         }

        .tag .removes {
            
            top: 0;
        }

        .tag a {
            margin: 0 0 0 .3em;
        }

            .tag a .removes {
                vertical-align: middle;
                color: #fff;
                margin-bottom: 2px;
            }
</style>



<script>
    $(document).ready(function () {
        $(".removes").click(function () {
            var xIcon = $(this);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteEmpSub")',
                data: { "EmpSubId": $(this).parent().siblings("input").val() },
                dataType: 'json',
                success: function (data) {
                    xIcon.parent().parent().animate({
                        opacity: 0.0,
                    }, 500, function () {
                        $(this).remove();
                    });
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

<table>
    <tr id="mainTr">
        @foreach (var item in Model)
            {
            <th>
                <span class="tag label label-info" style=" background-color: grey;">
                    <span class="subs">@Html.DisplayFor(modelItem => item.Subsidary.Name)</span>
                    <a class="theX"><i class="removes glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                    <input type="hidden" id="EmpSubID" value="@item.ID" />
                </span>
            </th>
        }
    </tr>
</table>
