@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P :</abbr>
    01000000000
</address>

<address>
    <strong>Support :</strong><br />
       <a href="mailto:ziyadmosaleh@hotmail.com">ziyadmosaleh@hotmail.com</a><br />
      <a href="mailto:farnawany123@gmail.com">farnawany123@gmail.com</a><br />
      <a href="mailto:said.elshibiny@outlook.com">said.elshibiny@outlook.com</a><br />
    
</address>